src/main/resources/inventario.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarProductoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="precio" type="xs:float" />
        <xs:element name="stock" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AgregarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:unsignedByte" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="precio" type="xs:float" />
        <xs:element name="stock" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="VerificarProductoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="VerificarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:unsignedByte" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="precio" type="xs:float" />
        <xs:element name="stock" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>